<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="QuanLyQuanAn" connectionString="Data Source=DESKTOP-BRN63RS\SQLEXPRESS;Initial Catalog=QuanLyQuanAn;Integrated Security=True" providerName="System.Data.SqLClient"></add>
	</connectionStrings>
</configuration>